.hero-section {
  padding: 200px 0;
  background:url("D:\React.jsinternship\MajorProject\blogging-app\src\assets\image1.jpg") no-repeat center center;
  background-size: cover;
}

.hero-text {
  flex: 1;
  padding: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.1rem;
  margin-top: 15px;
  line-height: 2.1rem;
  text-align: justify;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-image {
  flex: 1;
  text-align: center;

  padding-left: 15%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
